.card {
    border: 1px solid var(--foreground);
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    text-align: center;
    overflow-wrap: break-word;
}

.link {
    color: #0066cc;
    text-decoration: underline;
}

.shorttingText {
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
